# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources in the README.md file
- Happy learning!

In [1]:
import numpy as np
import pandas as pd

# Challenge 1 - Iterators, Generators and `yield`. 

In iterator in Python is an object that represents a stream of data. However, iterators contain a countable number of values. We traverse through the iterator and return one value at a time. All iterators support a `next` function that allows us to traverse through the iterator. We can create an iterator using the `iter` function that comes with the base package of Python. Below is an example of an iterator.

In [2]:
# We first define our iterator:

iterator = iter([1,2,3])

# We can now iterate through the object using the next function

print(next(iterator))

1

In [3]:
# We continue to iterate through the iterator.

print(next(iterator))

2

In [4]:
print(next(iterator))

3

In [5]:
# After we have iterated through all elements, we will get a StopIteration Error

print(next(iterator))

StopIteration:

In [6]:
# We can also iterate through an iterator using a for loop like this:
# Note: we cannot go back directly in an iterator once we have traversed through the elements. 
# This is why we are redefining the iterator below

iterator = iter([1,2,3])

for i in iterator:
    print(i)

1
2
3

In the cell below, write a function that takes an iterator and returns the first element in the iterator and returns the first element in the iterator that is divisible by 2. Assume that all iterators contain only numeric data. If we have not found a single element that is divisible by 2, return zero.

In [41]:
def divisible2(iterator):
    # This function takes an iterable and returns the first element that is divisible by 2 and zero otherwise
    # Input: Iterable
    # Output: Integer
    
    # Sample Input: iter([1,2,3])
    # Sample Output: 2
    
    # Your code here:

    for i in iterator:
        if i%2 == 0:
            number_to_be_returned = i
            break
        else:
            number_to_be_returned = 0
    return number_to_be_returned

divisible2(iter([1,5,3,4]))

4

### Generators

It is quite difficult to create your own iterator since you would have to implement a `next` function. Generators are functions that enable us to create iterators. The difference between a function and a generator is that instead of using `return`, we use `yield`. For example, below we have a function that returns an iterator containing the numbers 0 through n:

In [42]:
def firstn(n):
     number = 0
     while number < n:
         yield number
         number = number + 1

If we pass 5 to the function, we will see that we have a iterator containing the numbers 0 through 4.

In [43]:
iterator = firstn(5)

for i in iterator:
    print(i)

0
1
2
3
4

In the cell below, create a generator that takes a number and returns an iterator containing all even numbers between 0 and the number you passed to the generator.

In [49]:
def even_iterator(n):
    # This function produces an iterator containing all even numbers between 0 and n
    # Input: integer
    # Output: iterator
    
    # Sample Input: 5
    # Sample Output: iter([0, 2, 4])
    
    # Your code here:
    number = 0
    while number < n:
        if number%2 == 0:
            yield number
        number += 1

my_iterator = even_iterator(8)
print(list(my_iterator))

[0, 2, 4, 6]

# Challenge 2 - Applying Functions to DataFrames

In this challenge, we will look at how to transform cells or entire columns at once.

First, let's load a dataset. We will download the famous Iris classification dataset in the cell below.

In [50]:
columns = ['sepal_length', 'sepal_width', 'petal_length','petal_width','iris_type']
iris = pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data", names=columns)

Let's look at the dataset using the `head` function.

In [51]:
# Your code here:
iris.head()

   sepal_length  sepal_width  petal_length  petal_width    iris_type
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

Let's start off by using built-in functions. Try to apply the numpy mean function and describe what happens in the comments of the code.

In [53]:
# Your code here:
np.mean(iris)

# We get the mean of all values in each column

sepal_length    5.843333
sepal_width     3.054000
petal_length    3.758667
petal_width     1.198667
dtype: float64

Next, we'll apply the standard deviation function in numpy (`np.std`). Describe what happened in the comments.

In [54]:
# Your code here:
np.std(iris)

# We get the standard deviation for all values in each column

sepal_length    0.825301
sepal_width     0.432147
petal_length    1.758529
petal_width     0.760613
dtype: float64

The measurements are in centimeters. Let's convert them all to inches. First, we will create a dataframe that contains only the numeric columns. Assign this new dataframe to `iris_numeric`.

In [55]:
# Your code here:
iris_numeric = iris.select_dtypes(include='number')
print(iris_numeric)

     sepal_length  sepal_width  petal_length  petal_width
0             5.1          3.5           1.4          0.2
1             4.9          3.0           1.4          0.2
2             4.7          3.2           1.3          0.2
3             4.6          3.1           1.5          0.2
4             5.0          3.6           1.4          0.2
..            ...          ...           ...          ...
145           6.7          3.0           5.2          2.3
146           6.3          2.5           5.0          1.9
147           6.5          3.0           5.2          2.0
148           6.2          3.4           5.4          2.3
149           5.9          3.0           5.1          1.8

[150 rows x 4 columns]

Next, we will write a function that converts centimeters to inches in the cell below. Recall that 1cm = 0.393701in.

In [57]:
def cm_to_in(x):
    # This function takes in a numeric value in centimeters and converts it to inches
    # Input: numeric value
    # Output: float
    
    # Sample Input: 1.0
    # Sample Output: 0.393701
    
    # Your code here:
    return 0.393701*x

Now convert all columns in `iris_numeric` to inches in the cell below. We like to think of functional transformations as immutable. Therefore, save the transformed data in a dataframe called `iris_inch`.

In [61]:
# Your code here:
iris_inch = iris_numeric.apply(lambda x: cm_to_in(x))
print(iris_inch)

     sepal_length  sepal_width  petal_length  petal_width
0        2.007875     1.377954      0.551181     0.078740
1        1.929135     1.181103      0.551181     0.078740
2        1.850395     1.259843      0.511811     0.078740
3        1.811025     1.220473      0.590552     0.078740
4        1.968505     1.417324      0.551181     0.078740
..            ...          ...           ...          ...
145      2.637797     1.181103      2.047245     0.905512
146      2.480316     0.984253      1.968505     0.748032
147      2.559057     1.181103      2.047245     0.787402
148      2.440946     1.338583      2.125985     0.905512
149      2.322836     1.181103      2.007875     0.708662

[150 rows x 4 columns]

We have just found that the original measurements were off by a constant. Define the global constant `error` and set it to 2. Write a function that uses the global constant and adds it to each cell in the dataframe. Apply this function to `iris_numeric` and save the result in `iris_constant`.

In [62]:
# Define constant below:
error = 2

def add_constant(x):
    # This function adds a global constant to our input.
    # Input: numeric value
    # Output: numeric value
    
    # Your code here:
    return x + 2

iris_constant = iris_numeric.apply(lambda x: add_constant(x))
print(iris_constant)

     sepal_length  sepal_width  petal_length  petal_width
0             7.1          5.5           3.4          2.2
1             6.9          5.0           3.4          2.2
2             6.7          5.2           3.3          2.2
3             6.6          5.1           3.5          2.2
4             7.0          5.6           3.4          2.2
..            ...          ...           ...          ...
145           8.7          5.0           7.2          4.3
146           8.3          4.5           7.0          3.9
147           8.5          5.0           7.2          4.0
148           8.2          5.4           7.4          4.3
149           7.9          5.0           7.1          3.8

[150 rows x 4 columns]

# Bonus Challenge - Applying Functions to Columns

Read more about applying functions to either rows or columns [here](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.apply.html) and write a function that computes the maximum value for each row of `iris_numeric`

In [90]:
# Your code here:



def maxvalue(my_dataframe):
    # df.loc[df['Value'].idxmax()]
    my_numpy = my_dataframe.to_numpy()
    print(type(my_numpy))
    for row in my_numpy:
        print(row)
        print(row.max())

maxvalue(iris_numeric)

<class 'numpy.ndarray'>
[5.1 3.5 1.4 0.2]
5.1
[4.9 3.  1.4 0.2]
4.9
[4.7 3.2 1.3 0.2]
4.7
[4.6 3.1 1.5 0.2]
4.6
[5.  3.6 1.4 0.2]
5.0
[5.4 3.9 1.7 0.4]
5.4
[4.6 3.4 1.4 0.3]
4.6
[5.  3.4 1.5 0.2]
5.0
[4.4 2.9 1.4 0.2]
4.4
[4.9 3.1 1.5 0.1]
4.9
[5.4 3.7 1.5 0.2]
5.4
[4.8 3.4 1.6 0.2]
4.8
[4.8 3.  1.4 0.1]
4.8
[4.3 3.  1.1 0.1]
4.3
[5.8 4.  1.2 0.2]
5.8
[5.7 4.4 1.5 0.4]
5.7
[5.4 3.9 1.3 0.4]
5.4
[5.1 3.5 1.4 0.3]
5.1
[5.7 3.8 1.7 0.3]
5.7
[5.1 3.8 1.5 0.3]
5.1
[5.4 3.4 1.7 0.2]
5.4
[5.1 3.7 1.5 0.4]
5.1
[4.6 3.6 1.  0.2]
4.6
[5.1 3.3 1.7 0.5]
5.1
[4.8 3.4 1.9 0.2]
4.8
[5.  3.  1.6 0.2]
5.0
[5.  3.4 1.6 0.4]
5.0
[5.2 3.5 1.5 0.2]
5.2
[5.2 3.4 1.4 0.2]
5.2
[4.7 3.2 1.6 0.2]
4.7
[4.8 3.1 1.6 0.2]
4.8
[5.4 3.4 1.5 0.4]
5.4
[5.2 4.1 1.5 0.1]
5.2
[5.5 4.2 1.4 0.2]
5.5
[4.9 3.1 1.5 0.1]
4.9
[5.  3.2 1.2 0.2]
5.0
[5.5 3.5 1.3 0.2]
5.5
[4.9 3.1 1.5 0.1]
4.9
[4.4 3.  1.3 0.2]
4.4
[5.1 3.4 1.5 0.2]
5.1
[5.  3.5 1.3 0.3]
5.0
[4.5 2.3 1.3 0.3]
4.5
[4.4 3.2 1.3 0.2]
4.4
[5.  3.5 1.6 0.6]
5.0
[5.1 3.8 1.9 0.4]
5.1
[4.8 3.  1.4 0.3]
4.8
[5.1 3.8 1.6 0.2]
5.1
[4.6 3.2 1.4 0.2]
4.6
[5.3 3.7 1.5 0.2]
5.3
[5.  3.3 1.4 0.2]
5.0
[7.  3.2 4.7 1.4]
7.0
[6.4 3.2 4.5 1.5]
6.4
[6.9 3.1 4.9 1.5]
6.9
[5.5 2.3 4.  1.3]
5.5
[6.5 2.8 4.6 1.5]
6.5
[5.7 2.8 4.5 1.3]
5.7
[6.3 3.3 4.7 1.6]
6.3
[4.9 2.4 3.3 1. ]
4.9
[6.6 2.9 4.6 1.3]
6.6
[5.2 2.7 3.9 1.4]
5.2
[5.  2.  3.5 1. ]
5.0
[5.9 3.  4.2 1.5]
5.9
[6.  2.2 4.  1. ]
6.0
[6.1 2.9 4.7 1.4]
6.1
[5.6 2.9 3.6 1.3]
5.6
[6.7 3.1 4.4 1.4]
6.7
[5.6 3.  4.5 1.5]
5.6
[5.8 2.7 4.1 1. ]
5.8
[6.2 2.2 4.5 1.5]
6.2
[5.6 2.5 3.9 1.1]
5.6
[5.9 3.2 4.8 1.8]
5.9
[6.1 2.8 4.  1.3]
6.1
[6.3 2.5 4.9 1.5]
6.3
[6.1 2.8 4.7 1.2]
6.1
[6.4 2.9 4.3 1.3]
6.4
[6.6 3.  4.4 1.4]
6.6
[6.8 2.8 4.8 1.4]
6.8
[6.7 3.  5.  1.7]
6.7
[6.  2.9 4.5 1.5]
6.0
[5.7 2.6 3.5 1. ]
5.7
[5.5 2.4 3.8 1.1]
5.5
[5.5 2.4 3.7 1. ]
5.5
[5.8 2.7 3.9 1.2]
5.8
[6.  2.7 5.1 1.6]
6.0
[5.4 3.  4.5 1.5]
5.4
[6.  3.4 4.5 1.6]
6.0
[6.7 3.1 4.7 1.5]
6.7
[6.3 2.3 4.4 1.3]
6.3
[5.6 3.  4.1 1.3]
5.6
[5.5 2.5 4.  1.3]
5.5
[5.5 2.6 4.4 1.2]
5.5
[6.1 3.  4.6 1.4]
6.1
[5.8 2.6 4.  1.2]
5.8
[5.  2.3 3.3 1. ]
5.0
[5.6 2.7 4.2 1.3]
5.6
[5.7 3.  4.2 1.2]
5.7
[5.7 2.9 4.2 1.3]
5.7
[6.2 2.9 4.3 1.3]
6.2
[5.1 2.5 3.  1.1]
5.1
[5.7 2.8 4.1 1.3]
5.7
[6.3 3.3 6.  2.5]
6.3
[5.8 2.7 5.1 1.9]
5.8
[7.1 3.  5.9 2.1]
7.1
[6.3 2.9 5.6 1.8]
6.3
[6.5 3.  5.8 2.2]
6.5
[7.6 3.  6.6 2.1]
7.6
[4.9 2.5 4.5 1.7]
4.9
[7.3 2.9 6.3 1.8]
7.3
[6.7 2.5 5.8 1.8]
6.7
[7.2 3.6 6.1 2.5]
7.2
[6.5 3.2 5.1 2. ]
6.5
[6.4 2.7 5.3 1.9]
6.4
[6.8 3.  5.5 2.1]
6.8
[5.7 2.5 5.  2. ]
5.7
[5.8 2.8 5.1 2.4]
5.8
[6.4 3.2 5.3 2.3]
6.4
[6.5 3.  5.5 1.8]
6.5
[7.7 3.8 6.7 2.2]
7.7
[7.7 2.6 6.9 2.3]
7.7
[6.  2.2 5.  1.5]
6.0
[6.9 3.2 5.7 2.3]
6.9
[5.6 2.8 4.9 2. ]
5.6
[7.7 2.8 6.7 2. ]
7.7
[6.3 2.7 4.9 1.8]
6.3
[6.7 3.3 5.7 2.1]
6.7
[7.2 3.2 6.  1.8]
7.2
[6.2 2.8 4.8 1.8]
6.2
[6.1 3.  4.9 1.8]
6.1
[6.4 2.8 5.6 2.1]
6.4
[7.2 3.  5.8 1.6]
7.2
[7.4 2.8 6.1 1.9]
7.4
[7.9 3.8 6.4 2. ]
7.9
[6.4 2.8 5.6 2.2]
6.4
[6.3 2.8 5.1 1.5]
6.3
[6.1 2.6 5.6 1.4]
6.1
[7.7 3.  6.1 2.3]
7.7
[6.3 3.4 5.6 2.4]
6.3
[6.4 3.1 5.5 1.8]
6.4
[6.  3.  4.8 1.8]
6.0
[6.9 3.1 5.4 2.1]
6.9
[6.7 3.1 5.6 2.4]
6.7
[6.9 3.1 5.1 2.3]
6.9
[5.8 2.7 5.1 1.9]
5.8
[6.8 3.2 5.9 2.3]
6.8
[6.7 3.3 5.7 2.5]
6.7
[6.7 3.  5.2 2.3]
6.7
[6.3 2.5 5.  1.9]
6.3
[6.5 3.  5.2 2. ]
6.5
[6.2 3.4 5.4 2.3]
6.2
[5.9 3.  5.1 1.8]
5.9

Compute the combined lengths for each row and the combined widths for each row using a function. Assign these values to new columns `total_length` and `total_width`.

In [100]:
# Your code here:

# print(iris_numeric["sepal_length"], iris_numeric["petal_length"])

columns = [iris_numeric["sepal_length"], iris_numeric["petal_length"]]

columns_to_add = pd.concat(columns, axis=1)
print(columns_to_add)

     sepal_length  petal_length
0             5.1           1.4
1             4.9           1.4
2             4.7           1.3
3             4.6           1.5
4             5.0           1.4
..            ...           ...
145           6.7           5.2
146           6.3           5.0
147           6.5           5.2
148           6.2           5.4
149           5.9           5.1

[150 rows x 2 columns]